table {    
        background-color:pink;
        padding:10px;
        border: 2px solid yellow;
        width:600px;
        height:400px;
            
        }
            
 th,td{
                border: 2px solid yellow;
                text-align: center
    }
